nav {
    border-bottom: 1px solid #e8e8e8;
    padding: 1.688rem 6.188rem 1.438rem 6.25rem;
    width: 100%;
    background: #fff;
    height: 100%;
    display: flex;
  }
  
  .logo {
    font-weight: bold;
    color: #0290ff;
    line-height: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    margin: 0.375rem 0 0.125rem 0;
    letter-spacing: normal;
  }
  
  .navigation-links {
    list-style: none;
    display: flex;
  }
  
  .nav-link {
    color: #121212;
    font-size: 0.813rem;
    margin: 1.125rem 0 0.688rem 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.9px;
  }
  
  .link a {
    color: #000;
    text-decoration: none;
  }
  
  .user-icon {
    margin-left: auto;
    color: #0290ff;
    width: 2.813rem;
    height: 2.813rem;
  }
  